{% extends '_layout.html' %}

{% load static %}

{% block header %} <h1>Create Film</h1> {% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'style/style.css' %}">


<form method="POST" enctype="multipart/form-data">

    {% csrf_token %}

    {% for field in form %}

    <div class="mb-3">

        <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
        {{ field }}


    </div>

    {% endfor %}
   
        <button type="submit" class="btn btn-primary">Save</button>
   
    

    <a href="{% url 'list' %}">Go to list</a>
</form>
{% endblock %}