{% extends '_layout.html' %}
{% load static %}

{% block header %} <h1> Film Collection </h1> {% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'style/style_list_film.css' %}">

<div class="container">
    
    <table>
        <thead>
            <tr>
                <th>№</th>
                <th>Name</th>
                <th>Genres</th>
                <th>Directed</th>
                <th>Producers</th>
                <th>Screenwrit.</th>
                <th>Cinematog.</th>
                <th>Year</th>
                <th>About</th>
            </tr>
        </thead>
        <tbody>
            {% for film in films %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ film.name }}</td>
                <td>{{ film.genres }}</td>
                <td>{{ film.directed }}</td>
                <td>{{ film.producers }}</td>
                <td>{{ film.screenwriters }}</td>
                <td>{{ film.cinematographer }}</td>
                <td>{{ film.year }}</td>
                <td>
                    <a href="{% url 'delete' pk=film.pk %}" class="btn btn-danger" id="del1">Del</a>
                    <a href="{% url 'view_film' pk=film.pk %}" class="btn btn-info" id="del1">Inf</a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="9" class="no_f">No films found.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>
{% endblock %}