{% extends '_layout.html' %}

{% block header %}Film{% endblock %}

{% block content %}
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Genres</th>
            <th scope="col">Directed</th>
            <th scope="col">Producers</th>
            <th scope="col">Screenwriters</th>
            <th scope="col">Cinematographer</th>
            <th scope="col">Year</th>
        </tr>
    </thead>
    <tbody>
        {% for user in film %}
        <tr>
            <th scope="row">{{film.id}}</th>
            <td>{{film.name}}</td>
            <td>{{film.genres}}</td>
            <td>{{film.directed}}</td>
            <td>{{film.producers}}</td>
            <td>{{film.screenwriters}}</td>
            <td>{{film.cinematographer}}</td>
            <td>{{film.year}}</td>
            <td>
                <a href="/users/details/{{user.id}}" class="btn btn-primary btn-sm"><i class="bi bi-eye"></i></a>
                <a href="/users/delete/{{user.id}}" class="btn btn-danger btn-sm"><i class="bi bi-trash"></i></a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}