{% extends '_layout.html' %}

{% block header %}Film Details{% endblock %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'style/style_view.css' %}">

<div class="conteiner">
    <ul class="list-group">

        <li class="list-group-item"><strong>Title:</strong> {{ film.name }}</li>
        <li class="list-group-item"><strong>Genres:</strong> {{ film.genres }}</li>
        <li class="list-group-item"><strong>Directed by:</strong> {{ film.directed }}</li>
        <li class="list-group-item"><strong>Producers:</strong> {{ film.producers }}</li>
        <li class="list-group-item"><strong>Screenwriters:</strong> {{ film.screenwriters }}</li>
        <li class="list-group-item"><strong>Cinematographer:</strong> {{ film.cinematographer }}</li>
        <li class="list-group-item"><strong>Year:</strong> {{ film.year }}</li>
        <li class="list-group-item"><strong>Poster:</strong>
            {% if film.image %}
            <img src="{{ film.image.url }}" alt="{{ film.name }}" class="img-fluid" style="max-width: 100px;">
            {% else %}
            <span>No image available</span>
            {% endif %}
        </li>
    
    </ul>

</div>
    {% if film.image %}
    

{% endif %}

<a href="{% url 'home' %}" class="btn btn-primary mt-3">Back to list</a>

{% endblock %}